* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.selbox {
  padding: 0;
  cursor: pointer;
  display: inline-block;
  min-width: 140px;
  background-color: #f7f7f7;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
.selbox .selbtn {
  width: 100%;
  position: relative;
  padding: 10px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selbox .selbtn::after {
  font-family: "Material Icons";
  content: "\e313";
  transform: var(--selbtnAfter, 180deg);
  transition: all 0.3s ease;
}
.selbox .list {
  min-width: 140px;
  background-color: #f7f7f7;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin-top: 6px;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease;
  position: absolute;
  overflow: hidden;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.selbox .list .item {
  padding: 6px;
}
.selbox .list .item:hover {
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 4px;
}
.selbox .list.on {
  opacity: 1;
  max-height: 300px;
}